@tailwind base;
@tailwind components;
@tailwind utilities;

.mapBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#app {
  height: 100%;
  width: 100%;
  position: relative;
}

#app canvas:first-of-type {
  display: none !important;
}

#locationBox {
  width: 100%;
  height: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-wrap: normal;
  margin-bottom: 2rem;
}

#locationBox>h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

#locationBox>ul {
  columns: 4;
  width: 100%;
  flex-direction: column;
  height: 50%;
  flex-wrap: wrap;
  gap: 1rem;
}

#locationBox>ul>li {
  margin-bottom: 0.5rem;
}

